@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

section:has(.bg-text) {
    position: relative;
}

.bg-text {
    width: rem(1156px);
    max-width: 95%;
    position: absolute;
    left: 50%;
    top: rem(42px);
    transform: translateX(-50%);
    z-index: -1;

    @include media('mobile') {
        max-width: rem(336px);
    }
}
