@use '../../base/media' as *;
@use '../../base/mixins' as *;

.tab-show {
    display: block;
}

.tab-hide {
    display: none;
}

.tab-fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}
