@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.event-box {
    height: 100%;
    display: flex;
    color: $c_white;

    @include hover {
        .event-box__pic img {
            transform: scale(1.15);
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $c_accent;
        }
    }

    @include media('mobile') {
        flex-direction: column;
    }

    &__pic,
    &__details {
        width: 50%;
        @include media('mobile') {
            width: 100%;
        }
    }

    &__pic {
        height: 100%;
        overflow: hidden;
        aspect-ratio: 348 / 354;

        @include media('mobile') {
            aspect-ratio: 335 / 342;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: rem(30px);
        @include media('mobile') {
            gap: rem(15px);
        }
    }

    &__offer {
        flex-wrap: wrap;
        display: flex;
        gap: rem(12px);

        span {
            font: 400 #{rem(42px)} / 100% $ff_accent;
            text-transform: uppercase;
            color: $c_accent;
            @include media('mobile') {
                font-size: rem(30px);
            }
        }

        p {
            font: 300 #{rem(14px)} / 140% $ff;
            @include media('mobile') {
                font-size: rem(12px);
            }
        }
    }

    &__details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(24px);
        padding: rem(30px);
        background: $c_accent_drk;
        @include media('desktop') {
            padding: rem(20px);
        }
    }

    &__info {
        h2,
        h3,
        h4,
        h5,
        h6 {
            font: 400 #{rem(24px)} / 110% $ff_accent;
            text-transform: uppercase;
            letter-spacing: -1px;
            margin: 0 0 rem(10px) 0;
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include media('mobile') {
                font-size: rem(20px);
            }
        }
        p {
            font: 300 #{rem(14px)} / 160% $ff;
            color: #ffffff80;
            @include media('mobile') {
                font-size: rem(12px);
            }
        }

        ul,
        ol {
            margin: 0 0 rem(10px) 0;
            padding: 0 0 0 rem(24px);
            li {
                font: 300 #{rem(14px)} / 160% $ff;
                color: #ffffff80;
                span,
                a {
                    text-decoration: underline;
                    color: $c_accent;
                }
            }
        }
        *:last-child {
            margin-bottom: 0;
        }
    }
}
