@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.room-info {
    .cta {
        padding: rem(19px) rem(40px);
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(12px);
        max-width: rem(482px);
        margin-bottom: rem(40px);

        span {
            font: 500 #{rem(22px)} / 100% $ff;
        }
    }

    &__title {
        font: 400 #{rem(13px)} / 100% $ff;
        text-transform: uppercase;
        margin-bottom: rem(7px);
        color: #ffffff99;
    }

    &__subtitle {
        font: 400 #{rem(11px)} / 100% $ff;
        text-transform: uppercase;
        margin-bottom: rem(7px);
        color: #ffffff99;
    }

    &__val {
        font: 500 #{rem(18px)} / 100% $ff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__reserve {
        display: flex;
        align-items: center;
        gap: rem(36px);
        padding-bottom: rem(40px);
        margin-bottom: rem(40px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__terms {
        max-width: rem(622px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(12px);

        li {
            display: flex;
            align-items: center;
            gap: rem(12px);
        }

        img {
            width: rem(32px);
            height: rem(32px);
        }
    }
}
