@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .waves-ico {
        margin-bottom: rem(40px);
    }

    &:has(.section-heading__pic) {
        position: relative;
    }

    &:has(.link-more) {
        .section-subtitle {
            margin-bottom: rem(15px);
        }
    }

    &__pic {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 100px;
        max-width: rem(185px);
    }
}
