<section class="article">
    <div class="container">
        <div class="article__pic">
            <img loading="lazy" decoding="async" src="./assets/images/promo_1.jpg" alt="Picture">
        </div>
        <div class="article__content">
            <div class="article__date">
                <span>5-6</span>
                <p>Червня <br> 2026</p>
            </div>
            <div class="article__details">
                <p>
                    Шукаєте де забронювати будиночки під Києвом для відпочинку? Запрошуємо вас насолодитися відпочинком у наших еко-будинках, розташованих в мальовничій Ясногородці, неподалік від Києва. Наш сучасний комплекс еко-котеджів на 16 номерів ідеально підходить для подобової оренди і навіть для оренди на довготривалий термін як для звичайного відпочинку на природі, так і для оренди під дні народження, приватних святкувань та корпоративів, пропонуючи комфорт та затишок серед природи.
                </p>
                <p>
                    Відтепер ви зможете провести вікенд, тиждень, чи більше, у стильних еко-котеджах, створених на принципах біокліматичного будівництва.
                </p>
                <p>
                    Тут затишно, пахне деревиною і відчувається природнє домашнє тепло, незалежно від пори року чи погодних умов.
                </p>
                <p>
                    В будівництві стін наших котеджів використані виключно природні українські матеріали : деревина, солома, глина і пісок.
                </p>
                <p>
                    Це перший в Україні завершений проект, виконаний за унікальною технологією 100% автономії та енергонезалежності (власне твердопаливне опалення, електрогенерація та водопостачання).
                </p>
            </div>
        </div>
    </div>
    <div class="article__thumb">
        <img src="./assets/images/deer.svg" alt="">
    </div>
    <img src="./assets/images/forest_3.svg" alt="" class="article__bg">
</section>