<section class="connected">
    <div class="container">
        <div class="connected__head">
            <div class="connected__head-box">
                <p class="connected__head-title">Відділ бронювання</p>
                <a href="tel:+380999999999" class="connected__head-link">
                    +38 (099) 999-99-99
                </a>
            </div>
            <div class="connected__head-box">
                <p class="connected__head-title">Бронювання житла</p>
                <a href="tel:+380999999999" class="connected__head-link">
                    +38 (099) 999-99-99
                </a>
            </div>
            <div class="connected__head-box">
                <p class="connected__head-title">Бронювання житла</p>
                <a href="tel:+380999999999" class="connected__head-link">
                    +38 (099) 999-99-99
                </a>
            </div>
            <div class="connected__head-box">
                <p class="connected__head-title">Слідкуйте за нами</p>
                <ul class="connected__head-soc">
                    <li>
                        <a target="_blank" href="javascript: void(0)">
                            <svg>
                                <use href="./assets/images/icons/svg/sprite.svg#icoInst"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript: void(0)">
                            <svg>
                                <use href="./assets/images/icons/svg/sprite.svg#icoTube"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="javascript: void(0)">
                            <svg>
                                <use href="./assets/images/icons/svg/sprite.svg#icoTelegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="connected__info">
            <div class="connected__map">
                <img loading="lazy" decoding="async" src="./assets/images/map.png" alt="Map">
            </div>
            <div class="connected__details">
                <h2 class="connected__title">Як нас <span>знайти?</span></h2>
                <div>
                    <p>
                        Рівненська обл, Сарненський р-н, с. Страшево, вул Робітнича , ворота з надписом «Залив»
                    </p>
                    {{> _linkMore
                        url = 'javascript: void(0)'
                        label ='Прокласти маршрут'
                    }}
                </div>
                <img src="./assets/images/chevron.svg" alt="" class="connected__deco">
            </div>
        </div>
    </div>
</section>