<section class="description">
    <div class="container">
        {{> _roomBox}}
        <div class="description__tabs">
            <div class="description__nav js-tab-nav">
                <button type="button" class="description__btn js-descr-tab">
                    Важлива інформація!
                </button>
                <button type="button" class="description__btn js-descr-tab">
                    Детальний опис
                </button>
            </div>
            <div class="description__content js-tabcontent">
                <div class="description__ico">
                    {{> _wavesDeco}}
                    <div class="description__txts">
                        <h3>Важлива інформація!</h3>
                        <p>
                            Заселення в номери з 15.00, звільнення номерів в день виселення до 12.00. В день
                            виселення після 12.00 ключ-карта від номера автоматично блокується і гості не
                            зможуть самостійно потрапити в номер. Після 12.00 в день виселення
                            користування <span>басейним комплексом</span> сплачується згідно зі стандартними тарифами в
                            прайс-листі.
                        </p>
                    </div>
                </div>
            </div>
            <div class="description__content js-tabcontent">
                <div class="description__ico">
                    {{> _wavesDeco}}
                    <div class="description__txts">
                        <h3>Детальний опис:</h3>
                        <p>
                            Шукаєте де забронювати будиночки під Києвом для відпочинку? Запрошуємо вас насолодитися
                            відпочинком у наших еко-будинках, розташованих в мальовничій Ясногородці, неподалік від
                            Києва.
                            Наш сучасний комплекс еко-котеджів на 16 номерів ідеально підходить для подобової оренди і
                            навіть для оренди на довготривалий термін як для звичайного відпочинку на природі, так і для
                            оренди під дні народження, приватних святкувань та корпоративів, пропонуючи комфорт та
                            затишок
                            серед природи.
                            Відтепер ви зможете провести вікенд, тиждень, чи більше, у стильних еко-котеджах, створених
                            на
                            принципах біокліматичного будівництва.
                        </p>
                        <p>
                            Тут затишно, пахне деревиною і відчувається природнє домашнє тепло, незалежно від пори року
                            чи
                            погодних умов.
                        </p>
                        <p>
                            В будівництві стін наших котеджів використані виключно природні українські матеріали :
                            деревина,
                            солома, глина і пісок.
                        </p>
                        <p>
                            Це перший в Україні завершений проект, виконаний за унікальною технологією 100% автономії та
                            енергонезалежності (власне твердопаливне опалення, електрогенерація та водопостачання).
                        </p>
                        <img loading="lazy" decoding="async" src="./assets/images/description.jpg" alt="Picture">
                        <h4>Зручності (входять у вартість):</h4>
                        <ul>
                            <li>Барбекю зона з безкоштовним мангалом (дрова за додаткову плату)</li>
                            <li>Приватна парковка</li>
                            <li>
                                Прилади: Wi-Fi, телевізор, кондиціонер, електро-камін, фен, холодильник, чайник, міні-сейф
                            </li>
                            <li>
                                Барбекю зона з безкоштовним мангалом (дрова за додаткову плату)
                            </li>
                            <li>
                                Відкритий басейний комплекс на 6 басейнів (з травня по вересень) для 2 дорослих та 1 дитини
                            </li>
                            <li>
                                Дитячий парк розваг Яснограй (загальна зона дитячого майданчику)
                            </li>
                        </ul>
                        <h4>Додаткові послуги (за додаткову плату):</h4>
                        <ul>
                            <li>Винні дегустації від нашої крафтової виноробні.</li>
                            <li><span>Ресторан локаворства</span> «Ферма».</li>
                            <li>
                                Додаткове ліжко  та додаткове відвідування басейну в теплу пору року (для другої дитини в номері)
                            </li>
                            <li>Можливість замовлення їжі в номер.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="./assets/images/deer.svg" alt="" class="description__pic">
</section>