<section class="entice">
    <div class="container">
        <div class="entice__content">
            {{> _sectionHeading
                title = 'Проведи свій відпочинок <span>з нами</span>'
                decoration = 1
            }}
            <div class="entice__call">
                <p>Інформаційний центр</p>
                <a class="phone-call" href="tel:+380999999999">+38 (099) 999-99-99</a>
            </div>
            <div class="entice__btns">
                <a href="javascript: void(0)" class="action">Послуги і ціни</a>
                <a href="javascript: void(0)" class="cta js-cta">Забронювати номер</a>
            </div>
        </div>
    </div>
    <img src="./assets/images/entice.jpg" alt="" class="entice__bg">
</section>