<section class="plan">
    <div class="container">
        {{> _sectionHeading
        title = '<span>План</span> території'
        decoration = 1
        pic = 1
        }}
        <div class="plan__box">
            <div class="plan__territory">
                <div>
                    <img loading="lazy" decoding="async" src="./assets/images/plan.jpg" alt="Picture">
                </div>
            </div>
            <ul class="plan__schema">
                <li>
                    <span>2</span>
                    <p>Глемпінг біля озера</p>
                </li>
                <li>
                    <span>1</span>
                    <p>Футбольний корт</p>
                </li>
                <li>
                    <span>1</span>
                    <p>Футбольний корт</p>
                </li>
                <li>
                    <span>2</span>
                    <p>Глемпінг біля озера</p>
                </li>
                <li>
                    <span>1</span>
                    <p>Футбольний корт</p>
                </li>
                <li>
                    <span>1</span>
                    <p>Футбольний корт</p>
                </li>
                <li>
                    <span>1</span>
                    <p>Футбольний корт</p>
                </li>
                <li>
                    <span>1</span>
                    <p>Футбольний корт</p>
                </li>
                <li>
                    <span>1</span>
                    <p>Футбольний корт</p>
                </li>
                <li>
                    <span>1</span>
                    <p>Футбольний корт</p>
                </li>
            </ul>
        </div>
    </div>
</section>