@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

div:has(> .faq-box) {
    max-width: rem(750px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(30px);
    padding-block: rem(30px);
    border-top: 1px solid $c_light;
    border-bottom: 1px solid $c_light;
    @include media('mobile') {
        max-width: 100%;
        width: 100%;
        padding-block: rem(20px);
        gap: rem(20px);
    }
}

.faq-box {
    &:not(:last-child) {
        padding-bottom: rem(30px);
        border-bottom: 1px solid $c_light;
        @include media('mobile') {
            padding-bottom: rem(20px);
        }
    }

    &:has(.is-open) {
        .faq-box__question {
            span {
                transform: rotate(90deg);

                &::after {
                    opacity: 0;
                }
            }
        }
        .faq-box__answer {
            margin-top: rem(15px);
            grid-template-rows: 1fr;
            @include media('mobile') {
                margin-top: rem(10px);
            }
        }
    }

    .room-info {
        &__price {
            flex-wrap: wrap;
            margin-bottom: 0;
            max-width: 100%;
            justify-content: flex-start;
            gap: rem(12px);
        }

        li {
            max-width: rem(150px);
            width: 100%;
            color: $c_accent_drk;

            p {
                color: inherit;
                font-size: rem(11px);
            }

            span {
                font-size: rem(13px);
                line-height: 90%;
            }
        }
    }

    &__question {
        text-align: left;
        font: 400 #{rem(24px)} / 110% $ff_accent;
        text-transform: uppercase;
        letter-spacing: -1px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(12px);
        color: #000;
        @include media('mobile') {
            font-size: rem(20px);
            gap: rem(20px);
        }

        p {
            margin: 0;
        }

        span {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-shrink: 0;
            border-radius: 50%;
            width: rem(30px);
            height: rem(30px);
            background: $c_accent;
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            @include media('mobile') {
                width: rem(24px);
                height: rem(24px);
            }

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: rem(15px);
                height: rem(1px);
                background: #fff;
                @include transitions(
                    0.5s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                @include media('mobile') {
                    width: rem(12px);
                }
            }

            &::before {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }

    &__answer {
        display: grid;
        grid-template-rows: 0fr;
        font: 300 #{rem(16px)} / 160% $ff;
        color: #00000080;
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: rem(14px);
        }

        & > div {
            max-width: rem(700px);
            overflow: hidden;
            @include media('mobile') {
                max-width: 95%;
            }
        }
    }
}
