@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.reserve-form {
    max-width: rem(562px);
    @include media('tablet') {
        max-width: 100%;
        width: 100%;
    }
    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(2px);
        width: 100%;
        @include media('mobile') {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        font: 500 #{rem(12px)} / 100% $ff;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $c_accent;
    }

    &__field {
        display: flex;
        flex-direction: column;
        padding: rem(12px) rem(12px);
        gap: rem(14px);
        min-height: rem(78px);
        background: #0d160c4d;
    }

    .cta {
        margin: 0;
        gap: rem(10px);
        width: 100%;
        svg {
            width: rem(16px);
            height: rem(16px);
            color: $c_white;
        }
    }
}
