<a href="javascript: void(0)" class="entertainment-box">
    <img loading="lazy" decoding="async" src="{{ picture }}" alt="Preview">
    <div class="entertainment-box__info">
        <p class="entertainment-box__title">{{ title }}</p>
        <div class="entertainment-box__details">
            <p>{{ description }}</p>
        </div>
        <div class="link-more">
            Детальніше
            <span>
                <svg>
                    <use href="./assets/images/icons/svg/sprite.svg#icoArrowR"></use>
                </svg>
            </span>
        </div>
    </div>
</a>