<a href="javascript: void(0)" class="leisure-box">
    <div class="leisure-box__preview">
        <img src="{{ picture }}" alt="Picture">
    </div>
    <div class="leisure-box__info">
        <div class="leisure-box__txts">
            <h3>{{ title }}</h3>
        </div>
        <div class="link-more">
            Детальніше
            <span>
                <svg>
                    <use href="./assets/images/icons/svg/sprite.svg#icoArrowR"></use>
                </svg>
            </span>
        </div>
    </div>
</a>