<div class="room-box">
    <div class="room-box__pic">
        <img src="./assets/images/assortment_3.jpg" alt="Preview">
    </div>
    <p class="room-box__title">Котеджі <span>«Мальдиви»</span></p>
    <div class="room-info">
        <ul class="room-info__price">
            <li>
                <p class="room-info__title">Пн-Пт (доба)</p>
                <span>4 500 грн</span>
            </li>
            <li>
                <p class="room-info__title">Пт-Нд (Доба)</p>
                <span>5 500 грн</span>
            </li>
            <li>
                <p class="room-info__title">Додаткове місце</p>
                <span>500 грн</span>
            </li>
        </ul>
        <div class="room-info__reserve">
            <a href="javascript: void(0)" class="cta js-cta">Забронювати</a>
            <div class="room-info__connect">
                <p class="room-info__title">Бронювання житла</p>
                <a href="tel:+380999999999" class="phone-call">
                    +38 (099) 999-99-99
                </a>
            </div>
        </div>
    </div>
</div>