<div class="mobile-menu js-menu-box">
    <div class="container">
        <div class="mobile-menu__box">
            <ul class="mobile-menu__lang">
                <li>
                    <a href="javascript: void(0)" class="is-active">ua</a>
                </li>
                <li>
                    <a href="javascript: void(0)">ru</a>
                </li>
                <li>
                    <a href="javascript: void(0)">en</a>
                </li>
            </ul>
            <ul class="mobile-menu__nav">
                <li class="menu-item__has-children">
                    <a href="javascript: void(0)">
                        Жити
                        <span></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <ul>
                                <li>
                                    <a href="javascript: void(0)">Будиночки зі зрубу</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Hills»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Мальдиви»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Глемпінг біля озера</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item__has-children">
                    <a href="javascript: void(0)">
                        Їсти
                        <span></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <ul>
                                <li>
                                    <a href="javascript: void(0)">Будиночки зі зрубу</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Hills»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Мальдиви»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Глемпінг біля озера</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item__has-children">
                    <a href="javascript: void(0)">
                        Релаксувати
                        <span></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <ul>
                                <li>
                                    <a href="javascript: void(0)">Будиночки зі зрубу</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Hills»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Мальдиви»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Глемпінг біля озера</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item__has-children">
                    <a href="javascript: void(0)">
                        Активно відпочивати 
                        <span></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <ul>
                                <li>
                                    <a href="javascript: void(0)">Будиночки зі зрубу</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Hills»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Мальдиви»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Глемпінг біля озера</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item__has-children">
                    <a href="javascript: void(0)">
                        Святкувати
                        <span></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <ul>
                                <li>
                                    <a href="javascript: void(0)">Будиночки зі зрубу</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Hills»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Мальдиви»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Глемпінг біля озера</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item__has-children">
                    <a href="javascript: void(0)">
                        Дітям
                        <span></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <ul>
                                <li>
                                    <a href="javascript: void(0)">Будиночки зі зрубу</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Hills»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Мальдиви»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Глемпінг біля озера</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item__has-children">
                    <a href="javascript: void(0)">
                        Важливо знати 
                        <span></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <ul>
                                <li>
                                    <a href="javascript: void(0)">Будиночки зі зрубу</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Hills»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Котеджі «Мальдиви»</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0)">Глемпінг біля озера</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <a href="javascript: void(0)" class="cta js-cta">Забронювати</a>
            <div class="mobile-menu__info">
                <p class="mobile-menu__title">Відділ бронювання</p>
                <a href="tel:+380999999999" class="mobile-menu__connect">+38 (099) 999-99-99</a>
            </div>
            <div class="mobile-menu__info">
                <p class="mobile-menu__title">ми знаходимось</p>
                <p class="mobile-menu__connect">
                    Рівненська обл, Сарненський р-н, с. Страшево , вул Робітнича, 3
                </p>
            </div>
        </div>
    </div>
</div>