<div class="reserve-form">
    <form>
        <div class="reserve-form__field">
            <label for="date-check-in" class="reserve-form__title">
                Дата заїзду
            </label>
        </div>
        <div class="reserve-form__field">
            <label for="date-check-out" class="reserve-form__title">
                Дата виїзду
            </label>
        </div>
        <div class="reserve-form__field">
            <label for="guests-value" class="reserve-form__title">
                Гості
            </label>
        </div>
        <button type="submit" class="cta">
            Знайти номер
            <svg>
                <use href="./assets/images/icons/svg/sprite.svg#icoSearch"></use>
            </svg>
        </button>
    </form>
</div>