<div class="room-gallery js-room-root">
    <div class="room-gallery__slider swiper">
        <div class="room-gallery__wrapper swiper-wrapper">
            <div class="room-gallery__slide swiper-slide">
                <div class="room-gallery__pic">
                    <img width="1010" height="648" loading="lazy" decoding="async" src="./assets/images/room_1.jpg" alt="Picture">
                </div>
            </div>
            <div class="room-gallery__slide swiper-slide">
                <div class="room-gallery__pic">
                    <img width="1010" height="648" loading="lazy" decoding="async" src="./assets/images/room_2.jpg" alt="Picture">
                </div>
            </div>
            <div class="room-gallery__slide swiper-slide">
                <div class="room-gallery__pic">
                    <img width="1010" height="648" loading="lazy" decoding="async" src="./assets/images/room_3.jpg" alt="Picture">
                </div>
            </div>
        </div>
    </div>
    {{> _navigationPanel}}
</div>