@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.article {
    padding-block: rem(100px) rem(170px);
    position: relative;

    @include media('tablet') {
        padding-block: rem(96px);
    }
    @include media('mobile') {
        padding-block: rem(60px);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: rem(1222px);
        gap: rem(24px);
        @include media('laptop') {
            align-items: flex-start;
        }
        @include media('tablet') {
            flex-direction: column;
        }
    }

    &__bg {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
        @include media('mobile') {
            display: none;
        }
    }

    &__thumb {
        pointer-events: none;
        position: absolute;
        top: rem(81px);
        right: 0;
        max-width: rem(284px);
        @include media('tablet') {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    &__pic {
        aspect-ratio: 546 / 666;
        max-width: rem(546px);
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include media('tablet') {
            max-width: rem(420px);
        }
    }

    &__content {
        max-width: rem(596px);
        @include media('tablet') {
            max-width: 100%;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        gap: rem(12px);
        margin-bottom: rem(42px);
        @include media('mobile') {
            margin-bottom: rem(20px);
            align-items: flex-start;
        }

        span {
            font: 400 #{rem(42px)} / 100% $ff_accent;
            text-transform: uppercase;
            color: $c_accent;
            @include media('mobile') {
                font-size: rem(30px);
            }
        }

        p {
            font: 300 #{rem(14px)} / 140% $ff;
            @include media('mobile') {
                font-size: rem(12px);
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: rem(31px);
        color: #4a4a4a;

        * {
            margin: 0;
        }

        p {
            font: 300 #{rem(14px)} / 160% $ff;
        }

        a {
            font: 300 #{rem(14px)} / 160% $ff;
            text-decoration: underline;
            color: $c_accent;
        }

        ul,
        ol {
            li {
                font: 300 #{rem(14px)} / 160% $ff;

                span,
                a {
                    text-decoration: underline;
                    color: $c_accent;
                }
            }
        }

        h2 {
            font: 400 #{rem(52px)} / 100% $ff_accent;

            @include media('tablet') {
                font-size: rem(36px);
            }
            @include media('mobile') {
                font-size: rem(24px);
            }
        }

        h3 {
            font: 400 #{rem(42px)} / 100% $ff_accent;
            @include media('tablet') {
                font-size: rem(32px);
            }
            @include media('mobile') {
                font-size: rem(20px);
            }
        }

        h4 {
            font: 400 #{rem(30px)} / 100% $ff_accent;
            @include media('tablet') {
                font-size: rem(26px);
            }
            @include media('mobile') {
                font-size: rem(18px);
            }
        }

        h5,
        h6 {
            font: 400 #{rem(24px)} / 100% $ff_accent;
            @include media('tablet') {
                font-size: rem(26px);
            }
            @include media('mobile') {
                font-size: rem(18px);
            }
        }
    }
}
