@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.assortment {
    overflow: hidden;
    &__boxes {
        overflow: auto;
        scrollbar-width: none;

        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        scroll-snap-type: x proximity;
        display: flex;
        .assortment-box {
            scroll-snap-align: start;
        }
    }
}
