@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.connected {
    padding-block: rem(50px);

    &__head {
        margin-bottom: rem(55px);
        display: flex;
        justify-content: space-between;
        gap: rem(12px);
        align-items: flex-end;
        @include media('tablet') {
            flex-direction: column;
            align-items: flex-start;
            gap: rem(35px);
            margin-bottom: rem(30px);
        }

        &-title {
            font: 400 #{rem(13px)} / 100% $ff;
            text-transform: uppercase;
            margin-bottom: rem(6px);
            color: #1e2d1a99;
            @include media('mobile') {
                font-size: rem(12px);
            }
        }

        &-soc {
            display: flex;
            gap: rem(9px);

            a {
                align-items: center;
                justify-content: center;
                display: inline-flex;
                width: rem(39px);
                height: rem(39px);
                border-radius: 50%;
                background: $c_accent;
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                @include hover {
                    transform: scale(1.05);
                }
            }

            svg {
                width: rem(18px);
                height: rem(18px);
                color: $c_white;
            }
        }
    }

    &__map {
        aspect-ratio: 1460 / 563;
        @include media('mobile') {
            aspect-ratio: 335 / 416;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        position: relative;
    }

    &__details {
        overflow: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: rem(63px);
        top: rem(76px);
        bottom: rem(51px);
        max-width: rem(423px);
        padding: rem(50px) rem(40px);
        color: $c_white;
        background: $c_accent_drk;
        @include media('desktop') {
            left: rem(30px);
            top: rem(30px);
            bottom: rem(30px);
        }
        @include media('tablet') {
            position: relative;
            left: auto;
            top: auto;
            bottom: auto;
            max-width: 92%;
            margin: rem(-50px) auto 0;
            padding: rem(30px) rem(20px);
        }

        div {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            gap: rem(27px);

            p {
                font: 300 #{rem(14px)} / 160% $ff;
                margin: 0;
                @include media('mobile') {
                    font-size: rem(12px);
                }
            }
        }
    }

    &__deco {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: -50%;
        min-width: rem(866px);
        min-height: rem(213px);
        transform: scaleX(-1) rotate(10deg);
    }

    &__title {
        font: 400 #{rem(42px)} / 100% $ff_accent;
        text-transform: uppercase;
        margin-bottom: rem(12px);
        span {
            color: $c_accent;
        }
        @include media('mobile') {
            font-size: rem(30px);
            margin-bottom: rem(29px);
        }
    }
}
