@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.promo {
    padding-block: rem(35px) rem(170px);

    &__boxes {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: rem(32px);
    }

    &__empty {
        grid-column: span 2;
        text-align: center;
        font: 400 #{rem(30px)} / 100% $ff_accent;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
}
