@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.road {
    padding-block: rem(38px) rem(75px);
    position: relative;
    @include media('mobile') {
        padding-block: rem(60px) rem(28px);
    }

    &__cards {
        padding-block: rem(92px) 0;
        display: flex;
        flex-direction: column;
        gap: rem(50px);
        max-width: rem(1395px);
        @include media('tablet') {
            padding-block: rem(56px) 0;
        }
        @include media('mobile') {
            padding-block: 0;
            gap: rem(40px);
        }
    }

    &__pic {
        position: absolute;
        right: rem(42px);
        top: rem(38px);
        pointer-events: none;
        z-index: -1;
        max-width: rem(185px);
        @include media('tablet') {
            max-width: rem(140px);
        }
        @include media('mobile') {
            display: none;
        }
    }
}
