@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.section-subtitle {
    font: 400 #{rem(64px)} / 100% $ff_accent;
    text-transform: uppercase;
    span {
        color: $c_accent;
    }

    @include media('laptop') {
        font-size: rem(56px);
    }
    @include media('tablet') {
        font-size: rem(42px);
    }
    @include media('mobile') {
        font-size: rem(36px);
    }
}
